<app-nav-bar></app-nav-bar>
<table class="table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Status</th>
        <th>Label</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        @for (task of authenticatedUserTasks; track $index) {
            <tr>
                <td>{{task.id}}</td>
                <td>{{ task.date_debut }}</td>
                <td>{{ task.date_fin }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.label }}</td>
                <td>{{ task.description }}</td>
                <td>
                  <button (click)="openEditDialog(task)">edit</button>
                  <button (click)="deleteTask(task.id)">Delete</button>
                </td>
              </tr>
        }
      
    </tbody>
  </table>
  

<app-new-edited-task *ngIf="isEditDialogVisible" [tache]="editedTask" (saveClicked)="saveNewEditedTask()"
(cancelClicked)="closeNewEditDialog()"></app-new-edited-task>