<div class="h-screen w-[426px]">
<div class="h-screen w-[426px] bg-teal-600 rounded-tr-[30px] rounded-br-[30px]">
    <div class="text-center pt-14 text-neutral-100 text-5xl font-bold font-['Inria Sans']">Dashboard</div>

    <button class="w-[280px] h-[80px] bg-neutral-100 rounded-[30px] flex items-center justify-center font-normal text-4xl ml-14 mt-14"
    (click)="navigateToHome()">
        <img src="assets/homeic.png" alt="Home" class="w-[40px] h-[40px] mr-6" />
        HOME
    </button>
    <button class="w-[280px] h-[80px] bg-neutral-100 rounded-[30px] flex items-center justify-center font-normal text-3xl ml-14 mt-14"
    (click)="navigateToNewTask()">
        <img src="assets/icons8-task-50.png" alt="Home" class="w-[40px] h-[40px] mr-6" />
        New Task?
    </button>
    <button class="w-[280px] h-[80px] bg-neutral-100 rounded-[30px] flex items-center justify-center font-normal text-3xl ml-14 mt-14"
    (click)="navigateToConsultTask()">
        <img src="assets/icons8-task-50 (1).png" alt="Home" class="w-[40px] h-[40px] mr-6" />
        Consult Tasks
    </button>
    <button class="w-[280px] h-[80px] bg-neutral-100 rounded-[30px] flex items-center justify-center font-normal text-3xl ml-14 mt-14"
    (click)="navigateToManageTask()">
        <img src="assets/icons8-task-64.png" alt="Home" class="w-[40px] h-[40px] mr-6" />
        Manage Tasks
    </button>
    <button class="w-[280px] h-[80px] bg-neutral-100 rounded-[30px] flex items-center justify-center font-normal text-4xl ml-14 mt-14"
    (click)="LoGout()">
        <img src="assets/icons8-logout-50.png" alt="Home" class="w-[40px] h-[40px] mr-6" />
        LOGOUT
    </button>
</div>
</div>
