<div class="flex bg-zinc-200">
    <app-nav-bar></app-nav-bar>
    <div class="ml-[10px] pl-14 mt-14 w-fit absolute left-[430px] w-fit"><span class="text-black text-8xl font-normal font-['Inria Sans']">Stay in </span><span class="text-teal-600 text-8xl font-bold font-['Inria Sans']">touch!</span></div>

    <div class="w-[1000px] text-center text-black text-2xl font-bold font-['Inria Sans'] pt-[250px] pr-14 absolute left-[900px]">Our web service streamlines and enhances task management for businesses by providing a centralized platform to efficiently assign, track, and monitor employee tasks.
         With intuitive features, real-time updates, and collaborative tools, our platform empowers teams to boost productivity, enhance communication, and meet deadlines seamlessly.
          Experience a simplified and organized approach to managing tasks, driving greater efficiency across your organization</div>

      <img class="w-[589px] h-[332px] absolute top-[530px] left-[530px]" src="assets/gestion_des_taches.png" />
      <div class=" w-fit flex justify-center absolute top-[580px] left-[1300px]">     
         <img class="w-10 h-[45px]" src="assets/icons8-done-48.png" />
        <span class="text-black text-2xl font-bold font-['Inria Sans']">. Task Assignment and Tracking </span>
    </div>
    <div class=" w-fit flex justify-center absolute top-[680px] left-[1300px]">   
           <img class="w-10 h-[45px]" src="assets/icons8-done-48.png" />
        <span class="text-black text-2xl font-bold font-['Inria Sans']">. Task Assignment and Tracking </span>
    </div>
    <div class=" w-fit flex justify-center absolute top-[780px] left-[1300px]">  
            <img class="w-10 h-[45px]" src="assets/icons8-done-48.png" />
        <span class="text-black text-2xl font-bold font-['Inria Sans']">. Task Assignment and Tracking </span>
    </div>

  </div>
  