<div class="flex bg-zinc-200">
    <app-nav-bar></app-nav-bar>

        <div class="ml-[10px] pl-14 mt-14 w-fit absolute left-[430px] w-fit"><span class="text-black text-8xl font-normal font-['Inria Sans']">New </span><span class="text-teal-600 text-8xl font-bold font-['Inria Sans']">Task!</span></div>

        <form action="submit" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
            <div class="w-fit absolute top-[200px] left-[800px]">
                <div class="text-black text-3xl font-normal font-['Inria Serif']">Label:</div>
                <input class="w-[549px] h-[85px] bg-zinc-300 rounded-[20px] mt-2"
                 type="text" id="label" formControlName="label" name="label">
            </div>
            <div class="w-fit absolute top-[350px] left-[800px]">
                <div class="text-black text-3xl font-normal font-['Inria Serif']">Description:</div>
                <input type="text" class="w-[549px] h-[205px] bg-zinc-300 rounded-[20px] mt-2"
                id="description" formControlName="description" name="description">
            </div>
            <div class="flex">
                <div class="w-fit absolute top-[600px] left-[800px] pt-5">
                    <div class="text-black text-3xl font-normal font-['Inria Serif']">Start Date:</div>
                    <div> <input type="date" class="bg-red-800 text-white rounded-[10px] w-[160px] h-[35px] border-4 border-black text-center"
                        id="date_debut" formControlName="date_debut" name="startDate"></div>
                </div>
                <div class="w-fit absolute top-[600px] left-[1100px] pt-5">
                    <div class="text-black text-3xl font-normal font-['Inria Serif']">End Date:</div>
                    <div> <input type="date" class="bg-slate-800 text-white rounded-[10px] w-[160px] h-[35px] border-4 border-black text-center"
                        id="date_fin" formControlName="date_fin" name="endDate" ></div>
                </div>
            </div>
            <div class="absolute top-[750px] left-[1350px]">
                <button class="w-[321px] h-[104px] bg-teal-600 rounded-[50px] text-3xl font-bold text-white" type="submit" [disabled]="taskForm.invalid"> Create New Task</button>
            </div>
    </form>
  </div>
  
